---

---

<div class="sm_ab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ab_left">
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit flex justify-center items-center">
                                <img
                                    src="/content/Sm_title_shap.png"
                                    alt="image"
                                />
                            </div>
                            <h2 class="txbdstitle hlight">
                                Soluciones Inteligentes para la Gestión Rural
                            </h2>
                            <p>
                                Nos especializamos en la integración de
                                tecnologías renovables y sistemas de monitoreo
                                remoto. Ayudamos a productores a optimizar el
                                uso del agua y la energía, garantizando un
                                entorno más seguro y eficiente para su
                                producción.
                            </p>
                        </div>
                    </div>
                    <div class="ab_left_mdcon">
                        <div
                            class="txbdsva allcostyle boxsh boxpsv txbdmb30 text-left sselect"
                        >
                            <div class="txbdsi">
                                <!-- <div class="imageicon">
                                    <img
                                        src="/content/Sm_about_icon1.png"
                                        alt="image"
                                    />
                                </div> -->
                                <div class="txbdcon">
                                    <h2 class="txbdsvtitle hlight">
                                        Energía Solar
                                    </h2>
                                    <p>
                                        Sistemas fotovoltaicos adaptados a las
                                        exigencias del entorno rural.
                                    </p>
                                    <div class="txbdsvbtn txbdbtnicon"></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="txbdsva allcostyle boxsh boxpsv txbdmb30 text-left sselect"
                        >
                            <div class="txbdsi">
                                <!-- <div class="imageicon">
                                    <img
                                        src="/content/Sm_about_icon2.png"
                                        alt="image"
                                    />
                                </div> -->
                                <div class="txbdcon">
                                    <h2 class="txbdsvtitle hlight">
                                        Monitoreo Real
                                    </h2>
                                    <p>
                                        Control de activos y recursos en tiempo
                                        real desde cualquier dispositivo.
                                    </p>
                                    <div class="txbdsvbtn txbdbtnicon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="witr_button_area">
                        <div class="witr_btn_style mr">
                            <div class="witr_btn_sinner">
                                <a href="#" class="witr_btn">
                                    Más Sobre Nosotros
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ab_witr">
                    <div class="witr_play_vi witr_all_color_v">
                        <div class="witr_videobg_image boxtextposire">
                            <img src="/images/Senzanome.png" alt="image" class="aspect-[1/1.2] object-cover" />
                            <div class="boxtextposi zindex999 boxposiltrb">
                                <div class="boxtextposineer">
                                    <div class="play-overlay>">
                                        <a
                                            class="btnallt btnall btnallactive videowh text-center video-popup video-vemo-icon venobox vbox-item"
                                            data-vbtype="video"
                                            data-autoplay="true"
                                            href="https://youtu.be/BS4TUd7FJSg"
                                        >
                                            <i class="fas fa-video"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
