---
---
<div class="sm_ab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ab_left">
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit">
                                <img src="/content/Sm_title_shap.png"
                                     alt="image">
                            </div>
                            <h2 class="txbdstitle hlight">Conozca Sobre Nuestra Granja de Ovejas e Historia
                            </h2>
                            <p>En los Estados Unidos, las ovejas consumen principalmente forraje de pasto, a veces se
                                les da alimento suplementario, como maíz y heno. Las ovejas requieren agua, energía,
                                carbohidratos y grasas para un crecimiento y producción óptimos cuando se contaron 45
                                millones de cabezas de ovejas.</p>
                        </div>
                    </div>
                    <div class="ab_left_mdcon">
                        <div class="txbdsva allcostyle boxsh boxpsv txbdmb30 text-left sselect">
                            <div class="txbdsi">
                                <div class="imageicon">
                                    <img src="/content/Sm_about_icon1.png"
                                         alt="image">
                                </div>
                                <div class="txbdcon">
                                    <h2 class="txbdsvtitle hlight">Suplemento de Heno</h2>
                                    <p>Esa velocidad prioriza la precisión y el cuidado del animal.</p>
                                    <div class="txbdsvbtn txbdbtnicon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="txbdsva allcostyle boxsh boxpsv txbdmb30 text-left sselect">
                            <div class="txbdsi">
                                <div class="imageicon">
                                    <img src="/content/Sm_about_icon2.png"
                                         alt="image">
                                </div>
                                <div class="txbdcon">
                                    <h2 class="txbdsvtitle hlight">Suplemento de Heno</h2>
                                    <p>Esa velocidad prioriza la precisión y el cuidado del animal.</p>
                                    <div class="txbdsvbtn txbdbtnicon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="witr_button_area">
                        <div class="witr_btn_style mr">
                            <div class="witr_btn_sinner">
                                <a href="#"
                                   class="witr_btn">
                                    Más Sobre Nosotros
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ab_witr">
                    <div class="witr_play_vi witr_all_color_v">
                        <div class="witr_videobg_image boxtextposire">
                            <img src="/content/Sm_about.png"
                                 alt="image">
                            <div class="boxtextposi zindex999 boxposiltrb">
                                <div class="boxtextposineer">
                                    <div class="play-overlay&gt;">
                                        <a class="btnallt btnall btnallactive videowh text-center video-popup video-vemo-icon venobox vbox-item"
                                           data-vbtype="video"
                                           data-autoplay="true"
                                           href="https://youtu.be/BS4TUd7FJSg">
                                            <i class="fas fa-video"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
