---
---
<div class="sm_blog_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="blog_left">
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit">
                                <img src="/content/Sm_title_shap.png"
                                     alt="image">
                            </div>
                            <h2 class="txbdstitle hlight">Últimas Noticias y Blog</h2>
                            <p>Manténgase actualizado con las últimas novedades de nuestra granja, consejos sobre cría
                                de ovejas y noticias interesantes sobre la industria ovina.
                            </p>
                        </div>
                    </div>
                    <div class="witr_button_area">
                        <div class="witr_btn_style mr">
                            <div class="witr_btn_sinner">
                                <a href="#"
                                   class="witr_btn">
                                    Ver Todas las Noticias
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="blog_witr">
                    <div class="witr_carousel_main row">
                        <div class=" col-lg-6 col-md-6 col-sm-12 witr_nth_child txbdmb30">
                            <div class="wblogpart allcostyle">
                                <div class="wblogthumb alltcolorstyle">
                                    <div class="wblogthumbinner">
                                        <a href="#">
                                            <img src="/content/Sm_blog_1.jpg"
                                                 alt="image">
                                        </a>
                                    </div>
                                </div>
                                <div class="wblogcontent allccolorstyle metashowcp">
                                    <div class="wblogmeta sheepfarm_meta wblogmetaposi">
                                        <span><i class="ti-timer"></i>Mie 04, 2025</span>
                                    </div>
                                    <h2 class="wblogtitle">
                                        <a href="#">
                                            El Milagro de las Ovejas que No Conoces Disponible </a>
                                    </h2>
                                    <p>Descubra los secretos poco conocidos sobre la cría de ovejas y cómo pueden
                                        mejorar su producción.</p>
                                    <div class="wbriconoverhidd">
                                        <div class="wblogbtn">
                                            <a class="btnallt btnalldefault"
                                               href="#">Leer Más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 witr_nth_child txbdmb30">
                            <div class="wblogpart allcostyle">
                                <div class="wblogthumb alltcolorstyle">
                                    <div class="wblogthumbinner">
                                        <a href="#">
                                            <img src="/content/Sm_blog_2.jpg"
                                                 alt="image">
                                        </a>
                                    </div>
                                </div>
                                <div class="wblogcontent allccolorstyle metashowcp">
                                    <div class="wblogmeta sheepfarm_meta wblogmetaposi">
                                        <span><i class="ti-timer"></i>Mie 04, 2025</span>
                                    </div>
                                    <h2 class="wblogtitle">
                                        <a href="#">
                                            Nueva Industria Ovina y su Papel en la Historia.</a>
                                    </h2>
                                    <p>Analizamos el impacto histórico de la industria ovina y su evolución hasta la
                                        actualidad.</p>
                                    <div class="wbriconoverhidd">
                                        <div class="wblogbtn">
                                            <a class="btnallt btnalldefault"
                                               href="#">Leer Más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
