---
---
<div class="sm_call_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="call_left">
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit flex justify-center items-center">
                                <img src="/content/Sm_title_shap.png"
                                     alt="image">
                            </div>
                            <h2 class="txbdstitle hlight">Únete a Nosotros y Obtén</h2>
                            <h3 class="txbdstitle hlight">Ofertas Especiales</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="call_witr">
                    <form>
                        <div class="mc4wp-form-fields">
                            <p>
                                <input type="email"
                                       name="email"
                                       placeholder="Dirección de Correo...">
                                <button type="submit"
                                        value="Subscribe">
                                    <span>Suscríbete Ahora</span>
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
