---
---
<div class="sm_coun_area">
    <div class="container">
        <div class="row">
            <!-- 1 single counter -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_contx">
                        <h3 class="txbdbcolor counter">8800</h3>
                        <h2>Proyectos Completados</h2>
                    </div>
                </div>
            </div>
            <!-- 2 single counter -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_contx">
                        <h3 class="txbdbcolor counter">6420</h3>
                        <h2>Productos Agrícolas</h2>
                    </div>
                </div>
            </div>
            <!-- 3 single counter -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_contx">
                        <h3 class="txbdbcolor counter">1070</h3>
                        <h2>Granjeros Expertos</h2>
                    </div>
                </div>
            </div>
            <!-- 4 single counter -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_contx">
                        <h3 class="txbdbcolor counter">9360</h3>
                        <h2>Clientes Satisfechos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
