---
---
<div class="sm_fe_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tts">
                    <div class="ttin text-center">
                        <div class="ttit flex justify-center">
                            <img src="/content/Sm_title_shap.png"
                                 alt="image">
                        </div>
                        <h2 class="txbdstitle hlight">¡Bienvenido a Nuestra Granja!</h2>
                        <p>Aquí seleccionará entre varias razas de ovejas adecuadas para su región y condiciones de
                            mercado.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 1 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_feature1.jpg"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Esquila de Lana</h2>
                            <p>Aunque las ovejas consumen principalmente pasto, como maíz y heno, para un crecimiento y
                                producción óptimos.
                            </p>
                            <div class="txbdsvbtn txbdbtnicon">
                                <a class="btnallt btnall"
                                   href="#">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_feature2.jpg"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Conoce Nuestras Ovejas</h2>
                            <p>Aunque las ovejas consumen principalmente pasto, como maíz y heno, para un crecimiento y
                                producción óptimos.
                            </p>
                            <div class="txbdsvbtn txbdbtnicon">
                                <a class="btnallt btnall"
                                   href="#">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_feature3.jpg"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Alimentación de Ovejas</h2>
                            <p>Aunque las ovejas consumen principalmente pasto, como maíz y heno, para un crecimiento y
                                producción óptimos.
                            </p>
                            <div class="txbdsvbtn txbdbtnicon">
                                <a class="btnallt btnall"
                                   href="#">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
