<!-- footer area -->
<div class="witrfm_area">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="sheepfarm_theme_widget sheepfarm_f_color col-sm-12 col-md-6 col-lg-3">
          <div class="widget widget_nav_menu">
            <h2 class="widget-title">Enlaces Rápidos</h2>
            <div class="menu-customer-container">
              <ul class="menu">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nuestros Proyectos</a></li>
                <li><a href="#">Nuestros Granjeros</a></li>
                <li><a href="#">Últimas Noticias</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sheepfarm_theme_widget sheepfarm_f_color col-sm-12 col-md-6 col-lg-5">
          <div class="tts">
            <div class="ttin text-center">
              <div class="ttit">
                <img src="/content/logo2.png" alt="image" />
              </div>
              <p>En nuestra granja nos dedicamos a ofrecer los mejores productos ovinos con el mayor cuidado y calidad. Comprometidos con la excelencia y el bienestar animal.</p>
            </div>
          </div>
          <div class="witr_siconw">
            <ul>
              <li>
                <a class="txbdbhcolor" href="#">
                  <i class="flaticon flaticon-facebook-4"></i>
                </a>
                <a class="txbdbhcolor" href="#">
                  <i class="fa fa-x-twitter"></i>
                </a>
                <a class="txbdbhcolor" href="#">
                  <i class="flaticon flaticon-pinterest"></i>
                </a>
                <a class="txbdbhcolor" href="#">
                  <i class="flaticon flaticon-vimeo"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="tts">
            <div class="ttin text-center">
              <h4 class="txbdstitle hlight txbdbcolor">Contáctanos:<span> 123-456-7890</span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-widget-item">
            <h2 class="heading-title">Últimas Publicaciones</h2>
            <div class="recent-post-item">
              <div class="recent-post-image">
                <a href="#">
                  <img src="/content/foot1.jpg" alt="image" />
                </a>
              </div>
              <div class="recent-post-text">
                <h4><a href="#"> El Milagro de las Ovejas que No Conoces </a></h4>
                <span class="rcomment">Abril 12, 2025</span>
              </div>
            </div>
            <div class="recent-post-item">
              <div class="recent-post-image">
                <a href="#">
                  <img src="/content/foot2.jpg" alt="image" />
                </a>
              </div>
              <div class="recent-post-text">
                <h4><a href="#"> Nueva Industria Ovina y su Papel en la Historia.</a></h4>
                <span class="rcomment">Abril 11, 2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END FOOTER MIDDLE AREA -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tts">
            <div class="ttin text-center">
              <p>Derechos de Autor © Lamb wool 2025 . Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
