---
---
<div class="em40_header_area_main">
 	<!-- HEADER TOP AREA -->
    <div class="sheepfarm-header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
                    <div class="top-address">
                        <p><span><i class="fas fa-envelope"></i>info@demo.com</span>
                        <span> <i class="fas fa-phone-alt"></i>+998 965 242 52</span>
                        <span> <i class="fas fa-map-marker-alt"></i>22/12  Av. Principal, Ciudad</span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
                    <div class="top-right-menu">
                        <ul class="social-icons text-right">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER TOP AREA -->
    <div class="sheepfarm-main-menu one_page hidden-xs hidden-sm">
        <div id="sticky-header" class="sheepfarm_nav_area scroll_fixed postfix fixed top-[46px] w-full z-99999 transition-all duration-[50]! bg-white">
            <div class="container">
                <div class="row logo-left">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                            <a class="main_sticky_main_l" href="#" title="sheepfarm">
                                <img src="/content/logo.png" alt="sheepfarm">
                            </a>
                            <a class="main_sticky_l" href="#" title="sheepfarm">
                                <img src="/content/logo2.png" alt="sheepfarm">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                            <nav class="sheepfarm_menu">
                                <ul class="sub-menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Nosotros</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Páginas</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </nav>
                            <div class="donate-btn-header">
                                <a class="dtbtn" href="#">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const header = document.getElementById('sticky-header');
        
        if (header) {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 10) {
                    header.classList.add('top-0', '!shadow-md', '!py-2');
                    header.classList.remove('!py-4');
                } else {
                    header.classList.remove( 'top-0', '!shadow-md', '!py-2');
                    header.classList.add('!py-4');
                }
            });
        }
    </script>
    <!-- MOBILE MENU -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="sub-menu">
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Páginas</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
