---
const menu = [
    {
        name: "Home",
        link: "/",
    },
    {
        name: "Nosotros",
        link: "/#about",
    },
    {
        name: "Servicios",
        link: "/#services",
    },
    {
        name: "Equipo",
        link: "/#team",
    },
    {
        name: "Noticias",
        link: "/#news",
    },
    {
        name: "Contacto",
        link: "/#contact",
    },
];
---

<div class="em40_header_area_main">
    <div class="sheepfarm-header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-7 col-xl-8 col-md-6 col-sm-12">
                    <div class="top-address text-left text_s_center">
                        <p>
                            <span>
                                <i class="ti-location-pin"></i> Arriaga 1271 - Laprida
                                - Buenos Aires</span
                            >
                            <a href="mailto:info@ruraltech.com">
                                <i class="ti-email"></i>info@ruraltech.com</a
                            >
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-5 col-xl-4 col-md-6 col-sm-12">
                    <div class="top-right-menu d-flex justify-content-end">
                        <ul class="social-icons text-right text_m_center">
                            <li>
                                <a class="facebook social-icon" href="/"
                                    ><i class="ti-facebook"></i></a>
                            </li>
                            <li>
                                <a class="instagram social-icon" href="/"
                                    ><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="sheepfarm-main-menu hidden-xs hidden-sm one_page witr_h_h19"
        style="z-index: 1000;"
    >
        <div class="sheepfarm_nav_area scroll_fixed">
            <div class="container">
                <div class="row logo-left bg_style">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="theme_cr_logo">
                            <div class="logo">
                                <a
                                    class="main_sticky_main_l"
                                    href="/"
                                    title="consultionit"
                                >
                                    <img
                                        src="/content/logo1.png"
                                        alt="consultionit"
                                    />
                                </a>
                                <a
                                    class="main_sticky_l"
                                    href="/"
                                    title="consultionit"
                                >
                                    <img
                                        src="/content/logo2.png"
                                        alt="consultionit"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- MAIN MENU -->
                    <div class="col-md-10 col-sm-10 col-xs-10 tx_menu_together">
                        <nav class="sheepfarm_menu">
                            <ul class="sub-menu">
                                {
                                    menu.map((item) => {
                                        return (
                                            <li>
                                                <a href={item.link}>
                                                    {item.name}
                                                </a>
                                            </li>
                                        );
                                    })
                                }
                            </ul>
                        </nav>
                        <div class="tx_mmenu_together">
                            <div class="main-search-menu">
                                <div class="em-quearys-top msin-menu-search">
                                    <!-- <div class="em-top-quearys-area">
                    <div class="em-header-quearys">
                      <div class="em-quearys-menu">
                        <i class="ti-search t-quearys"></i>
                      </div>
                    </div> -->
                                    <!--SEARCH FORM-->
                                    <!-- <div class="em-quearys-inner">
                      <div class="em-quearys-form">
                        <form class="top-form-control" action="/" method="get">
                          <input type="text" placeholder="Type Your Keyword" name="s" value="" />
                          <button class="top-quearys-style" type="submit">
                            <i class="icofont-long-arrow-right"></i>
                          </button>
                        </form>
                        <div class="em-header-quearys-close text-center mrt10">
                          <div class="em-quearys-menu">
                            <i class="icofont-close-line t-close em-s-hidden"></i>
                          </div>
                        </div>
                      </div>
                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mini_shop_content site-header-cart" id="site-header-cart">
                <div class="">
                  <a class="cart-contents" href="/" title="View your shopping cart"
                    ><i class="ti-bag"></i>
                    <span class="count">0</span>
                  </a>
                </div>
                <div class="twr_mini_cart">
                  <div class="widget woocommerce widget_shopping_cart">
                    <div class="widget_shopping_cart_content">
                      <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>
                    </div>
                  </div>
                </div>
              </div> -->
                        <div class="donate-btn-header">
                            <a class="dtbtn" href="/">Saber Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>

<!-- mobile menu -->
<div class="mobile_logo_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mobilemenu_con">
                    <div class="mobile_menu_logo text-center">
                        <a
                            href="https://demo.themexbd.com/html/sheepfarm/index.html"
                            title="sheepfarm"
                        >
                            <img src="/content/logo1.png" alt="sheepfarm" />
                        </a>
                    </div>
                    <div class="mobile_menu_option">
                        <div class="mobile_menu_o mobile_opicon">
                            <i class="icofont-navigation-menu openclass"></i>
                        </div>
                        <div class="mobile_menu_inner mobile_p">
                            <div class="mobile_menu_content">
                                <div class="mobile_menu_logo text-center">
                                    <a
                                        href="https://demo.themexbd.com/html/sheepfarm/index.html"
                                        title="sheepfarm"
                                    >
                                        <img
                                            src="/content/logo1.png"
                                            alt="sheepfarm"
                                        />
                                    </a>
                                </div>
                                <div class="menu_area mobile-menu">
                                    <nav
                                        class="sheepfarm_menu bg-transparent!"
                                        style="display: block;"
                                    >
                                        <ul class="sub-menu">
                                            {
                                                menu.map((item) => {
                                                    return (
                                                        <li>
                                                            <a
                                                                class="border-none!"
                                                                href={item.link}
                                                            >
                                                                {item.name}
                                                            </a>
                                                        </li>
                                                    );
                                                })
                                            }
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile_menu_o mobile_cicon">
                                    <i class="icofont-close closeclass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
