---
---
<div class="witr_swiper_area">
    <div
         class="swiper swiper_active swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <div class="swiper-wrapper"
             id="swiper-wrapper-01fa6239ce952195"
             aria-live="off">
            <div class="swiper-slide txbdslider carousel-zoom swiper-slide-active"
                 style="background-image: url(&quot;content/slider1.jpg&quot;); width: 1438px; margin-right: 15px;"
                 role="group"
                 aria-label="1 / 1">
                <div class="txbdsinner sliderheightdiv allmiddle">
                    <div class="txbdscontent">
                        <h1 class="txbdstitle hlight">Mejor Raza Mejorada</h1>
                        <h2 class="txbdstitle hlight">de Granjas de Ovejas</h2>
                        <p>La cría de ovejas es la crianza y reproducción de ovejas domésticas. Las ovejas se crían
                            principalmente por su carne, leche y lana.</p>
                        <div class="txbdsbtn allcostyle">
                            <a class="btnallt btnall"
                               href="#">Ver Raza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="swiper-notification"
              aria-live="assertive"
              aria-atomic="true"></span>
    </div>
</div>
