---

---

<div class="witr_swiper_area">
    <div
        class="swiper swiper_active swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
    >
        <div
            class="swiper-wrapper w-full"
            id="swiper-wrapper-01fa6239ce952195"
            aria-live="off"
        >
            <div
                class="swiper-slide w-full! txbdslider carousel-zoom swiper-slide-active"
                style=""
                role="group"
                aria-label="1 / 1"
            >
                <div class="relative h-[calc(100vh-140px)]">
                    <div class="absolute bg-black/40 top-0 left-0 right-0 bottom-0 ">
                        <img
                            class="w-full! h-full! brightness-75 object-cover "
                            src="images/young-woman-controlling-plantation.jpg"
                            alt=""
                        />
                    </div>
                    <div
                        class="absolute left-0 top-0 w-full h-full flex items-center justify-center"
                    >
                        <div class="txbdsinner sliderheightdiv allmiddle">
                            <div class="txbdscontent">
                                <h1 class="txbdstitle hlight">
                                    Tecnología Sustentable
                                </h1>
                                <h2 class="txbdstitle hlight">
                                    para el Campo Moderno
                                </h2>
                                <p>
                                    Soluciones innovadoras en energía solar,
                                    monitoreo inteligente y automatización para
                                    optimizar la productividad y eficiencia de
                                    tu establecimiento rural.
                                </p>
                                <div class="txbdsbtn allcostyle">
                                    <a class="btnallt btnall" href="#services"
                                        >Nuestros Servicios</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"></span>
    </div>
</div>
