---
---
<div class="sm_offer_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-l2">
                <div class="tts">
                    <div class="ttin text-center">
                        <div class="ttit">
                            <img src="/content/Sm_title_shap.png"
                                 alt="image">
                        </div>
                        <h2 class="txbdstitle hlight">Lo Que Ofrecemos</h2>
                        <p>Cuando la humanidad se dio cuenta de las ventajas nutricionales de la leche de vaca, cabra y
                            oveja hace miles de años, ya la estábamos consumiendo.
                            La gente bebe leche, come pan con mantequilla y bebe té con crema espesa. Lo haremos por ti.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 1 single item -->
            <div class="col-lg-3 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_offer1.png"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdicon iconabs iconalltf iconall iconallactive  ">
                            <i class="icofont icofont-bucket1"></i>
                        </div>
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Leche de Oveja</h2>
                            <div class="txbdsvbtn txbdbtnicon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 single item -->
            <div class="col-lg-3 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_offer2.png"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdicon iconabs iconalltf iconall iconallactive  ">
                            <i class="icofont icofont-brand-aliexpress"></i>
                        </div>
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Productos</h2>
                            <div class="txbdsvbtn txbdbtnicon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 single item -->
            <div class="col-lg-3 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_offer3.png"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdicon iconabs iconalltf iconall iconallactive  ">
                            <i class="icofont icofont-brand-reuters"></i>
                        </div>
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Lana de Oveja</h2>
                            <div class="txbdsvbtn txbdbtnicon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 single item -->
            <div class="col-lg-3 col-md-6">
                <div class="txbdsva allcostyle boxsh txbdmb30 ss_6 text-center">
                    <div class="thbdsvthumb">
                        <img src="/content/Sm_offer4.png"
                             alt="image">
                    </div>
                    <div class="txbdsi boxtexrelative  iconsabsconpd sselect">
                        <div class="txbdicon iconabs iconalltf iconall iconallactive  ">
                            <i class="icofont icofont-brand-mobileme"></i>
                        </div>
                        <div class="txbdcon">
                            <h2 class="txbdsvtitle hlight">Carne Fresca</h2>
                            <div class="txbdsvbtn txbdbtnicon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
