---
---
<div class="sm_proj_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_pslide all_pslides_color ps1">
                    <div class="witr_carousel_main row proj_active">
                        <!-- 1 single project -->
                        <div class="item_pos col-lg-12">
                            <div class="witr_single_pslide">
                                <div class="witr_pslide_image">
                                    <img src="/content/Sm_project1.jpg" alt="image">
                                </div>
                                <div class="witr_content_pslide_text">
                                    <div class="witr_content_pslide">
                                        <h2><a href="#">Las Ovejas Comen Pasto</a></h2>
                                        <p>Las ovejas pastan pacíficamente en los campos verdes bajo el sol.</p>
                                        <div class="witr_pslide_custom">
                                            <a href="#"><span class="txbdbcolor txbdwbg txbdbrhv icofont-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_pos col-lg-12">
                            <div class="witr_single_pslide">
                                <div class="witr_pslide_image">
                                    <img src="/content/Sm_project2.jpg" alt="image">
                                </div>
                                <div class="witr_content_pslide_text">
                                    <div class="witr_content_pslide">
                                        <h2><a href="#">Las Ovejas Comen Paja</a></h2>
                                        <p>Alimentación natural y saludable para garantizar la mejor lana.</p>
                                        <div class="witr_pslide_custom">
                                            <a href="#"><span class="txbdbcolor txbdwbg txbdbrhv icofont-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_pos col-lg-12">
                            <div class="witr_single_pslide">
                                <div class="witr_pslide_image">
                                    <img src="/content/Sm_project3.jpg" alt="image">
                                </div>
                                <div class="witr_content_pslide_text">
                                    <div class="witr_content_pslide">
                                        <h2><a href="#">Lana de Oveja Fina</a></h2>
                                        <p>Procesamiento de lana de alta calidad para exportación.</p>
                                        <div class="witr_pslide_custom">
                                            <a href="#"><span class="txbdbcolor txbdwbg txbdbrhv icofont-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_pos col-lg-12">
                            <div class="witr_single_pslide">
                                <div class="witr_pslide_image">
                                    <img src="/content/Sm_project4.jpg" alt="image">
                                </div>
                                <div class="witr_content_pslide_text">
                                    <div class="witr_content_pslide">
                                        <h2><a href="#">Las Ovejas Comen Follaje</a></h2>
                                        <p>Cuidado meticuloso del entorno de pastoreo.</p>
                                        <div class="witr_pslide_custom">
                                            <a href="#"><span class="txbdbcolor txbdwbg txbdbrhv icofont-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
