---
---
<div class="sm_shep_prod">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="shp_prod_left">
                    <div class="single_image_area">
                        <div class="single_image single_line_option">
                            <img src="/content/Sm_sheep1.jpg"
                                 alt="image">
                        </div>
                    </div>
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit flex justify-center items-center">
                                <img src="/content/Sm_title_shap.png"
                                     alt="image">
                            </div>
                            <h2 class="txbdstitle hlight">Ropa Destacada</h2>
                            <h3 class="txbdstitle hlight">Lana de Exportación</h3>
                            <p>Podemos seleccionar entre varias razas adecuadas para su región y condiciones de mercado.
                                Cuando el granjero ve que una oveja muestra signos de celo o estro, pueden organizar el
                                apareamiento con machos. Los corderos recién nacidos suelen someterse a un sistema de
                                marcado que nos permite ofrecer un paisaje líder en la industria.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="shp_witr_con">
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit flex justify-center items-center">
                                <img src="/content/Sm_title_shap.png"
                                     alt="image">
                            </div>
                            <h2 class="txbdstitle hlight">Producción Ovina Mundial</h2>
                            <p>Podemos seleccionar entre varias razas adecuadas para su región y condiciones de mercado.
                                Cuando el granjero ve que una oveja muestra signos de celo o estro, pueden organizar el
                                apareamiento con machos. Los corderos recién nacidos suelen someterse a un sistema de
                                marcado que nos permite ofrecer un paisaje líder en la industria.
                            </p>
                        </div>
                    </div>
                    <div class="single_image_area">
                        <div class="single_image single_line_option">
                            <img src="/content/Sm_sheep2.jpg"
                                 alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
