---
---
<section class="shop_grid_area sec_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tts">
                    <div class="ttin text-center">
                        <div class="ttit flex justify-center items-center">
                            <img src="/content/Sm_title_shap.png"
                                 alt="image">
                        </div>
                        <h2 class="txbdstitle hlight">Tienda de Ovejas</h2>
                        <p>La leche de oveja es la leche de la oveja doméstica. Se utiliza comúnmente para elaborar
                            productos lácteos cultivados como el queso. Algunas de las ovejas más populares para elegir.
                        </p>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="bgimgload fade tab-pane active show"
                         id="tx_product_grid">
                        <div class="row blog-messonary">
                            <div class="col-lg-4 col-xl-3 col-md-6">
                                <div class="product_inner">
                                    <div class="product_img">
                                        <img src="/content/Sm_shop1.png"
                                             alt="product">
                                        <div class="product_icon">
                                            <a href="#"><i class="icofont-ui-love"></i></a>
                                            <a href="#"><i class="icofont-shopping-cart"></i></a>
                                            <a href="#"><i class="icofont-eye-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_text">
                                        <div class="product_name">
                                            <h3><a href="#">Oveja Blackface</a></h3>
                                        </div>
                                        <div class="product_price">
                                            <p>$2200</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3 col-md-6">
                                <div class="product_inner">
                                    <div class="product_img">
                                        <img src="/content/Sm_shop2.png"
                                             alt="product">
                                        <div class="product_icon">
                                            <a href="#"><i class="icofont-ui-love"></i></a>
                                            <a href="#"><i class="icofont-shopping-cart"></i></a>
                                            <a href="#"><i class="icofont-eye-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_text">
                                        <div class="product_name">
                                            <h3><a href="#">Oveja Shetland</a></h3>
                                        </div>
                                        <div class="product_price">
                                            <p><del>$1450</del>$1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3 col-md-6">
                                <div class="product_inner">
                                    <div class="product_img">
                                        <img src="/content/Sm_shop3.png"
                                             alt="product">
                                        <div class="product_icon">
                                            <a href="#"><i class="icofont-ui-love"></i></a>
                                            <a href="#"><i class="icofont-shopping-cart"></i></a>
                                            <a href="#"><i class="icofont-eye-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_text">
                                        <div class="product_name">
                                            <h3><a href="#">Oveja de Camerún</a></h3>
                                        </div>
                                        <div class="product_price">
                                            <p><del>$1600</del>$1500</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3 col-md-6">
                                <div class="product_inner">
                                    <div class="product_img">
                                        <img src="/content/Sm_shop4.png"
                                             alt="product">
                                        <div class="product_icon">
                                            <a href="#"><i class="icofont-ui-love"></i></a>
                                            <a href="#"><i class="icofont-shopping-cart"></i></a>
                                            <a href="#"><i class="icofont-eye-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_text">
                                        <div class="product_name">
                                            <h3><a href="#">Oveja Lacaune</a></h3>
                                        </div>
                                        <div class="product_price">
                                            <p><del>$198</del>$50</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
