---
import { testimonials } from "../../data/testimonials";
---
<div class="sm_test_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tts">
                    <div class="ttin text-center">
                        <div class="ttit flex justify-center items-center">
                            <img src="/content/Sm_title_shap.png"
                                 alt="image">
                        </div>
                        <h2 class="txbdstitle hlight">¿Qué Dice la Gente?</h2>
                        <p>Hay muchas variaciones de testimonios disponibles, pero la mayoría han sufrido alteraciones
                            positivas, gracias a la calidad de nuestros productos y la dedicación de nuestro equipo.
                        </p>
                    </div>
                </div>
                <div class="witr_carousel_main row test_active">
                    {testimonials.map((testimonial) => (
                        <div class="col-md-12 txbdmb30 ts2_style">
                            <div class="tsitem pmt alltesicl">
                                <div class="tsimg tsimgpt">
                                    <img src={testimonial.image} alt="image">
                                </div>
                                <div class="tscon">
                                    <h2 class="tstitle">{testimonial.name}<span class="tesspanf"> {testimonial.role} </span></h2>
                                    <div class="tsreview tsdflex d-flex align-items-center justify-content-start">
                                        <div class="tsrevstar"></div>
                                    </div>
                                    <p>{testimonial.comment}</p>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </div>
    </div>
</div>
