---
---
<div class="sm_test_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tts">
                    <div class="ttin text-center">
                        <div class="ttit">
                            <img src="/content/Sm_title_shap.png"
                                 alt="image">
                        </div>
                        <h2 class="txbdstitle hlight">¿Qué Dice la Gente?</h2>
                        <p>Hay muchas variaciones de testimonios disponibles, pero la mayoría han sufrido alteraciones
                            positivas, gracias a la calidad de nuestros productos y la dedicación de nuestro equipo.
                        </p>
                    </div>
                </div>
                <div class="witr_carousel_main row test_active slick-initialized slick-slider"><button
                            class="slick-prev slick-arrow"
                            aria-label="Previous"
                            type="button"
                            style="">Anterior</button>
                    <!-- 1 single testimonial -->
                    <div class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 5700px; transform: translate3d(-1140px, 0px, 0px);">
                            <div class="col-md-12 txbdmb30 ts2_style slick-slide slick-cloned"
                                 data-slick-index="-2"
                                 id=""
                                 aria-hidden="true"
                                 tabindex="-1"
                                 style="width: 540px;">
                                <div class="tsitem pmt alltesicl">
                                    <div class="tsimg tsimgpt">
                                        <img src="/content/Sm_testi1.png"
                                             alt="image">
                                    </div>
                                    <div class="tscon">
                                        <h2 class="tstitle">Braitly Dcosta<span class="tesspanf"> Cliente </span>
                                        </h2>
                                        <div
                                             class="tsreview tsdflex d-flex align-items-center justify-content-start">
                                            <div class="tsrevstar"></div>
                                        </div>
                                        <p>“Excelente servicio y productos de alta calidad. Compré lana y carne, y ambos
                                            fueron excepcionales. Definitivamente volveré a comprar aquí.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 txbdmb30 ts2_style slick-slide slick-cloned"
                                 data-slick-index="-1"
                                 id=""
                                 aria-hidden="true"
                                 tabindex="-1"
                                 style="width: 540px;">
                                <div class="tsitem pmt alltesicl">
                                    <div class="tsimg tsimgpt">
                                        <img src="/content/Sm_testi2.png"
                                             alt="image">
                                    </div>
                                    <div class="tscon">
                                        <h2 class="tstitle">Rani Cakma<span class="tesspanf"> Cliente </span> </h2>
                                        <div
                                             class="tsreview tsdflex d-flex align-items-center justify-content-start">
                                            <div class="tsrevstar"></div>
                                        </div>
                                        <p>“Visité la granja y quedé impresionado por la limpieza y el cuidado de los
                                            animales. Los granjeros son muy amables y conocedores.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 txbdmb30 ts2_style slick-slide slick-current slick-active"
                                 data-slick-index="0"
                                 aria-hidden="false"
                                 tabindex="0"
                                 style="width: 540px;">
                                <div class="tsitem pmt alltesicl">
                                    <div class="tsimg tsimgpt">
                                        <img src="/content/Sm_testi1.png"
                                             alt="image">
                                    </div>
                                    <div class="tscon">
                                        <h2 class="tstitle">Braitly Dcosta<span class="tesspanf"> Cliente </span>
                                        </h2>
                                        <div
                                             class="tsreview tsdflex d-flex align-items-center justify-content-start">
                                            <div class="tsrevstar"></div>
                                        </div>
                                        <p>“Excelente servicio y productos de alta calidad. Compré lana y carne, y ambos
                                            fueron excepcionales. Definitivamente volveré a comprar aquí.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 txbdmb30 ts2_style slick-slide slick-active"
                                 data-slick-index="1"
                                 aria-hidden="false"
                                 tabindex="0"
                                 style="width: 540px;">
                                <div class="tsitem pmt alltesicl">
                                    <div class="tsimg tsimgpt">
                                        <img src="/content/Sm_testi2.png"
                                             alt="image">
                                    </div>
                                    <div class="tscon">
                                        <h2 class="tstitle">Rani Cakma<span class="tesspanf">Cliente </span> </h2>
                                        <div
                                             class="tsreview tsdflex d-flex align-items-center justify-content-start">
                                            <div class="tsrevstar"></div>
                                        </div>
                                        <p>“Visité la granja y quedé impresionado por la limpieza y el cuidado de los
                                            animales. Los granjeros son muy amables y conocedores.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="slick-next slick-arrow"
                            aria-label="Next"
                            type="button"
                            style="">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>
