<script is:inline src="/content/jquery-3.5.1.min.js"></script>
<script is:inline src="/content/bootstrap.min.js"></script>
<script is:inline src="/content/isotope.pkgd.min.js"></script>
<script is:inline src="/content/owl.carousel.min.js"></script>
<script is:inline src="/content/slick.min.js"></script>
<script is:inline src="/content/imagesloaded.pkgd.min.js"></script>
<script is:inline src="/content/venobox.min.js"></script>
<script is:inline src="/content/jquery.appear.js"></script>
<script is:inline src="/content/jquery.knob.js"></script>
<script is:inline src="/content/theme-pluginjs.js"></script>
<script is:inline src="/content/jquery.meanmenu.js"></script>
<script is:inline src="/content/ajax-mail.js"></script>
<script is:inline src="/content/theme.js"></script>
<a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">
  <i class="icofont-thin-up"></i>
</a>
